language: python
python:
  - "3.8.1"
cache: pip
install:
  - pip install -r requirements.txt
script:
  - pytest
  - flake8 ./pages/helpers.py --ignore E722,E501 #ignore line too long (string) / do not use bare 'except'
  - python -m py_compile ./*/*.py ./*.py ./*/*/*.py # - python3 -m compileall . # check only the files we created
  - flake8 ./*/*.py ./*.py ./*/*/*.py --exclude=./pages/helpers.py,./hexapod/templates/pose_template.py