language: python
python:
  - "3.8.1"
cache: pip
install:
  - pip install -r requirements.txt
script:
  - pytest
  - flake8 ./hexapod --exclude="./pose_template.py"
  - flake8 ./pages --exclude="./helpers.py"
  - flake8 ./pages/helpers.py --ignore E722,E501 #ignore line too long (string) / do not use bare 'except'
  - flake8 ./widgets
  - flake8 ./index.py ./settings.py ./app.py
  - python -m py_compile index.py